<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app">
      <div>Калорийность сырого на 100г</div>
      <input type="text" type="number" v-model="rawKk" />
      <br />

      <div>Вес сырого продукта</div>
      <input type="text" type="number" v-model="rawG" />
      <br />

      <div>Вес готового продукта</div>
      <input type="text" type="number" v-model="g" />
      <br />

      <div>Сколько грамм тарелке</div>
      <input type="text" type="number" v-model="eatG" />
      <br />
      <br />
      <div>На тарелке ккалорий: {{ eatKk }}</div>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          rawKk: 308,
          rawG: 160,
          g: 476,
          eatG: 250
        },
        computed: {
          eatKk() {
            const kk =
              parseFloat(this.rawKk) /
              (parseFloat(this.g) / parseFloat(this.rawG));
            return parseFloat(this.eatG) * (kk / 100);
          }
        }
      });
    </script>
  </body>
</html>
